:root{
    --white: #fff;
    --black: #000;
    --main-dark-color: #3d3d3d;
}

body, *{
    margin: 0;
    padding: 0;
}

#background{
    position: absolute;
    z-index: -9999;
    height: 100%;
    width: 100%;
    background-image: url(../img/2301.w015.n003.1117B.p15.1117.jpg);
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header{
    background-color: var(--main-dark-color);
    width: 100%;
    height: 60px;
}

#header>h1{
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    height: 100%;
}

#footer{
    position: fixed;
    background-color: var(--main-dark-color);
    width: 100%;
    height: 30px;
    bottom: 0%;
}

#footer>p{
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cadre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    background-color:cornsilk;
    padding: 50px;
}

.button-type{
    height: 3em;
    width: 10em;
}

.button-type:first-child{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color: #fff;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}